{% extends 'miaplicacion/layout.html' %}
{% block content %}
    <h3 class="text-align:center p-3">Medicos disponibles</h3>
    {%for medicextra in medicosdispo %}
        
    <div class="card mt-4 float-left" style=" width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                {{medicextra.nombre}}
            </h5>
            <h6 class="mt-2">
                Apellido: {{medicextra.apellido}} <br/>
                Correo: {{medicextra.correo}}
                Especialidad: {{medicextra.especialidad}}
            </h6>

            <p class="card-text">Un medico graduado en la universidad del Cauca con una
            de las mejores tesis a nivel regional</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}